<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebApplication",
  "name": {{ webapp_name|tojson }},
  "url": {{ (site_root ~ webapp_path ~ '?lang=' ~ get_locale())|tojson }},
  {% if webapp_description is defined and webapp_description %}"description": {{ webapp_description|tojson }},{% endif %}
  "applicationCategory": "UtilitiesApplication",
  "operatingSystem": "Web",
  "browserRequirements": "Requires JavaScript",
  "offers": {"@type": "Offer", "price": "0", "priceCurrency": "USD"},
  "inLanguage": {{ ('ru' if get_locale() == 'ru' else 'en')|tojson }},
  "provider": {"@type": "Organization", "name": "DomainTools", "url": {{ (site_root ~ '/')|tojson }}}
}
</script>