{% extends 'base.html' %}
{% block title %}{{ _('WHOIS Details') }}{% endblock %}
{% block content %}
    <h1>{{ _('WHOIS for') }} {{ whois_data.domain_name }}</h1>
    <p>{{ _('Owner') }}: {{ whois_data.name or 'N/A' }}</p>
    <p>{{ _('Email') }}: {{ whois_data.email or 'N/A' }}</p>
    <p>{{ _('Registrar') }}: {{ whois_data.registrar or 'N/A' }}</p>
    <p>{{ _('Creation Date') }}: {{ whois_data.creation_date or 'N/A' }}</p>
    <p>{{ _('Expiration Date') }}: {{ whois_data.expiration_date or 'N/A' }}</p>
    <p>{{ _('Nameservers') }}: {{ whois_data.name_servers or 'N/A' }}</p>
    <a href="{{ url_for('main.index') }}">{{ _('Back to Search') }}</a>
{% endblock %}